/* HAND GIF */
#hand_gif {
    width: calc(30px + 2vw);
    max-width: 40px;
    height: auto;
}

#logo_img {
    width: calc(30px + 2vw);
    max-width: 60px;
    height: auto;
}

body {
    background-color: #ddddddad;
}
