/* LOGO */
.app-brand-logo img {
  width: calc(30px + 2vw);
  max-width: 50px;
  height: auto;
}

#layout-menu i {
  font-size: calc(0.9rem + 0.25vw);
  line-height: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.2em; 
  height: 1.2em;
}

#layout-navbar{
  box-shadow: 0px 1px 10px #00000028;
}

.swal2-container {
    z-index: 999999 !important; 
}


/* For underlining links */
.hover-underline-ltr {
    position: relative;
    display: inline-block;
    text-decoration: none !important;
    color: inherit;
    transition: color 0.15s ease;
}

.hover-underline-ltr::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: currentColor;

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.25s ease-in-out,
                background-color 0.15s ease;
}

.hover-underline-ltr:hover::after {
    transform: scaleX(1);
}

/* 👇 CLICK FEEDBACK */
.hover-underline-ltr:active {
    color: #0d6efd!important; /* Bootstrap primary */
}

.hover-underline-ltr:active::after {
    background-color: #0d6efd;
}
